.container{
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border-style: hidden;
    background-color: #00B894;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: white;
    font-size: 18px;

}

.container:hover{
    background-color: #006451;
}