.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    background-color: #FFF;
    padding: 16px;
    color: #636E72;
    font-size: 16px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.name{
    font-size: larger;
    color: #131313;
    font-weight: 600;
    -ms-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.status{
    display: flex;
    min-width: 65px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 2px 12px;
}
.todo{
    color: #636E72;
    background: #636E721A;
}
.ongoing{
    color: #2F80ED;
    background: #2F80ED1A;
}
.done{
    color: #219653;
    background: #2196531A;
}

.description{
    margin-block: 0 10px;
    -ms-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.deadlineContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.deadlineText{
    color: #FFA726;
    margin-right: -4px;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.addItem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #BDBDBD;
}

.members{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar:not(:first-child):not(:last-child){
    margin-left: -7%;
}

.avatar{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #FFF;
    background-color: #F2F2F2;
}

.avatar .photo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(151, 214, 214);
}

.avatar:last-child{
    border: 1px solid #BDBDBD;
    background-color: transparent;
}

.more{
    font-weight: 600;
    font-size: smaller;
}